.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:0;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(12, 1fr);
        gap: var(--mp-mid);
        max-width:1440px;
        margin-left:auto;
        margin-right:auto;
    }
}

.grid-cols-full {
    grid-column: 1/-1;
}

.grid-cols-half {
    grid-column: span 2 / span 2;

}

.grid-cols-quarter {
    grid-column: span 1 / span 1;
    
}

.grid-standard-mb {
    margin-bottom: var(--mp-large);
}

@media (min-width: 768px) {
    
    .big\:grid-cols-full {
        grid-column: 1/-1;
    }

    .big\:grid-cols-half {
        grid-column: span 6 / span 6;
    }

    .big\:grid-cols-quarter {
        grid-column: span 3 / span 3;
    }

    .big\:grid-standard-bottom {
        margin-bottom: var(--mp-large);
    }
}

