---
layout: base
---
    {%- for post in collections.posts | reverse -%}
      <div class="blog-posts">

    <article class="">
      <h2>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h2>
      <strong><p>{{post.data.description}}</p></strong>
      <p class="post-date">Last Modified: {{ post.date.toUTCString() }}</p>
    </article>
      </div>

    {%- endfor -%}
