---
layout: base
---

<div class="grid">
    <div class="big:grid-cols-full">{{ content | safe }}</div>
</div>

<div style="background-color: red; min-width: 100%; min-height: 100px"></div>

<section class="grid">
  <div class="big:grid-cols-quarter" style="height:50px; background-color:blue;"></div>
  <div class="big:grid-cols-quarter" style="background-color:green;"></div>
  <div class="big:grid-cols-quarter" style="background-color:yellow;"></div>
  <div class="big:grid-cols-quarter" style="background-color:purple;"></div>

</section>
