---
layout: base
---

{% set previousPost = collections.portfolio | getPreviousCollectionItem(page) %}
{% set nextPost = collections.portfolio | getNextCollectionItem(page) %}

<article>
    <h1 class="" itemprop="name headline">{{ title }}</h1>
    <hr>
    <div class="" itemprop="articleBody">
        {{ content | safe }}
    </div>
    <div class="prev-next">
        <div>{% if previousPost %}<p>Previous Post: <a href="{{ previousPost.url }}" rel="prev">{{ previousPost.data.title }}</a></p>{% endif %}</div>
        <div>{% if nextPost %}<p>Next Blog Post: <a href="{{ nextPost.url }}" rel="next">{{ nextPost.data.title }}</a></p>{% endif %}</div>
    </div>
</article>