---
layout: base
---

<section class="">
  <div class="">
    {% for post in collections.portfolio %}
    <article class="">
      <h1>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h1>
      <p>{{post.data.description}}</p>
      <p class="post-date">{{ post.data.dateCompleted }}</p>
    </article>
    {% endfor %}
  </div>
</section>