---
layout: base
---

<section class="">
    {%- for post in collections.portfolio -%}
      <div class="blog-posts">
    <article class="">
      <h2>
        <a href="{{ post.data.outbound | url }}">{{ post.data.title }}</a>
      </h2>
      <p>{{post.data.description}}</p>
    </article>
      </div>
    {%- endfor -%}
</section>
</section>
