@use 'sass:map';

$breakpoints: (
    mq-small:768px,
    mq-medium: 1024px,
    mq-large:1440px
);

@mixin mq($key) {
    $size: map.get($breakpoints, $key);

    @media (min-width: $size ) {
        @content;
    }
}

