/* Base Layout */

html {
    margin: 0;
    padding: 0;
}

body {
    animation: fadeIn 1.5s forwards;
    color: var(--dark);
    background: var(--light);
}

.right-contain {
    order: 1;
}

main {
    background: inherit;
    flex-grow: 2;
    min-width:100px;
    order:2;

}