<header
  id="top">
  <!--SKIP TO CONTENT-->
  <div class="skip-link">
    <div class="skip-border padding-small">
      <strong>Skip to
        <a href="#main">main content</a>
      </strong>
    </div>
  </div>
  <nav>
    <ul class="flex flex-end gap-xs">
      {% for nav in collections.nav %}
        <li {% if page.url == nav.url %} aria-current="page" {% endif %}>
          <a href="{{ nav.url }}"
             {% if page.url == nav.url %} class="active" {% endif %}>
            {{ nav.data.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  {# <ul>
      <li><a href="/">Dyslexic</a></li>
      <li><a href="/">Link Color</a></li>
      <li><a href="/">Dark Mode</a></li>
      <li><a href="/">Monochrome</a></li> 
    </ul> #}
</header>